<div class="post_list_item">
<div class="post_list_item_scorediv">
    <div class="post_list_item_scorediv_row1">
        <%= link_to(image_tag('general/up.png', height:"15", width:"15", class:"upvote"), "\#") %>
    </div>
    <div class="post_list_item_scorediv_row2">
        <span class="score"><%= post.score %></span>
    </div>
    <div class="post_list_item_scorediv_row2">
        <%= link_to(image_tag('general/down.png', height:"15", width:"15", class:"downvote"), "\#") %>
    </div>
</div>
<div class="post_list_item_contentdiv">
<p class="post_list_item_row1"><%= link_to post.title, post.link %> <%= score_string(post) %> <span class="post_list_item_user">submitted <%= time_ago_in_words post.created_at %> ago by <%= link_to post.user, post.user %> </span><span class="post_list_item_sub">to <%= link_to post.subgeddit.link_text, post.subgeddit %></span></p>
<p class="post_list_item_row2"><%= link_to "comments", post %></p>
</div>
</div>