<div id="post_list_item">
<div id="post_list_item_scorediv">
<%= post.score %>
</div>
<div id="post_list_item_contentdiv">
<p id="post_list_item_row1"><%= link_to post.title, post.link %> <%= score_string(post) %> <em style="font-size: 12px">to <%= link_to post.subgeddit, post.subgeddit %></em></p>
<p id="post_list_item_row2"><%= link_to "comments", post %></p>
</div>
</div>