<div id="banner">
    <div id="header">
        <% if user_signed_in? %>
            Signed in as <%= link_to current_user, current_user %>. <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        <% else %>
            You are not signed in.
        <% end %>
    </div>
    <span id="logo">
        <%= link_to image_tag('general/geddit_logo_small.png'), root_path %>
    </span>
    <ul>
        <a href="/"><li id="frontpage" <%= active 'index' %>>frontpage</li></a>
        <a href="/top"><li id="top" <%= active 'top' %>>top</li></a>
        <a href="/new"><li id="new" <%= active 'new' %>>new</li></a>
        <a href="/rising"><li id="rising" <%= active 'rising' %>>rising</li></a>
        <a href="/controversial"><li id="controversial" <%= active 'controversial' %>>controversial</li></a>
    </ul>
</div>