<!-- Login box -->
<% if !user_signed_in? %>
<div id="login_box">
    <%= form_for(:user, url: session_path(:user)) do |f| %>
        <%= f.text_field :email, placeholder: 'email' %>
        <%= f.password_field :password, placeholder: 'password' %>
        <%= f.submit 'login' %>
    <% end %> 
</div>
<% end %>

<!-- Ad -->
<a href="http://example.com"><img src="<%= get_ad %>" style="height:250px; width:250px;"/></a>

<!-- new post links -->
<a href="/posts/new" class="new_post_link"><div class="new_post_link">Submit a link</div></a>

<!-- subgeddit-specific content -->
<%= yield :aside %>